TA3/flows.json
[
    {
        "id": "476dffdfcee28c31",
        "type": "mqtt in",
        "z": "7b56951ad67f2945",
        "name": "",
        "topic": "/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "f8943b5428648f9a",
                "ddb6e3bce8829533",
                "97d871a298f4e420"
            ]
        ]
    },
    {
        "id": "2ed2ae5961c9f75e",
        "type": "mqtt in",
        "z": "7b56951ad67f2945",
        "name": "",
        "topic": "/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "b9f7dd2404bbe442",
                "920b749ee3090d8a",
                "5e60d25e3d6f744c"
            ]
        ]
    },
    {
        "id": "f8943b5428648f9a",
        "type": "ui_chart",
        "z": "7b56951ad67f2945",
        "name": "",
        "group": "013b1924e54a420e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b9f7dd2404bbe442",
        "type": "ui_chart",
        "z": "7b56951ad67f2945",
        "name": "",
        "group": "013b1924e54a420e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ddb6e3bce8829533",
        "type": "ui_gauge",
        "z": "7b56951ad67f2945",
        "name": "",
        "group": "b56a6c37860fce94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b0b3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "920b749ee3090d8a",
        "type": "ui_gauge",
        "z": "7b56951ad67f2945",
        "name": "",
        "group": "b56a6c37860fce94",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00a7b3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "97d871a298f4e420",
        "type": "debug",
        "z": "7b56951ad67f2945",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "5e60d25e3d6f744c",
        "type": "debug",
        "z": "7b56951ad67f2945",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac6659385df72324",
        "type": "mqtt-broker",
        "name": "C140",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "013b1924e54a420e",
        "type": "ui_group",
        "name": "Weather Monitoring",
        "tab": "09df6ccd7f734917",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b56a6c37860fce94",
        "type": "ui_group",
        "name": "Home",
        "tab": "09df6ccd7f734917",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09df6ccd7f734917",
        "type": "ui_tab",
        "name": "C140",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
